<p class="pageTitle">All Survey's</p>

<table id="surveyTable">
  <tr>
    <th class="col1">Name</th>
    <th class="col2">Description</th>
    <th colspan="5">Type</th>
  </tr>

<% @surveys.each do |survey| %>
  <% survey.survey_versions.each do |version| %>
  <tr class="<%= cycle('white','blue') %>">
    <td class="col1"><%= version.survey.name %> (<%= version.version_number %>)</td>
    <td class="col2"><%= version.survey.description %></td>
    <td class="col3"><%= version.survey.survey_type.name.titleize %></td>
    <td class="col4-7"><%= link_to 'Show', survey_path(survey, :version => version.version_number) %></td>
  </tr>
	<% end -%>
<% end %>
</table>
