<% title "#{survey.name} - Poll Results - #{survey.survey_type.name.titleize}" %>

<div id='poll_results_title'>Poll Results</div>

<div id="poll_results">
  <% results.questions.each do |question| %>
    <% total_answers = results.total_answers_for_question(question) %>
    <div class="question_results">

      <div class="question_statement"><%= question.question_content.statement %> ( <%= total_answers %> responses) </div>

      <div class="poll_answers">
        <% results.answer_counts_for_question(question).first(10).each do |answer, answer_count| %>
          <% answer_percent = total_answers == 0 ? 0 : ((answer_count.to_f / total_answers.to_f) * 100) %>
          <div class="poll_answer">
              <div style="display: inline-block; max-width: 15%">
                <span class="answer_statement"><%= ChoiceAnswer.find(answer.to_i).try(:answer) %> : </span>
              </div>
              <div class="bar_container" style="width: 85%; display:inline-block">
                <div class="poll_result_bar" style="width:<%= answer_percent.to_i %>%">&nbsp;</div>
                <span class="answer_percentage"><%= "#{answer_count} (#{answer_percent.round(1)}%)" %></span>
              </div>
          </div>
          
        <% end -%>
      </div>

      <div class="total_question_answers"><%= total_answers %> total votes</div>

    </div>
  <% end -%>
</div>