<% title "#{@survey.name} - Page 1 - #{@survey.survey_type.name.titleize}" %>

<% javascript 'survey.js' %>

<% if @survey_version.nil? %>
	<p>Could not find version <%= params[:version] %></p>
	<%= link_to "View all", survey_path(@survey) %>
<% else %>
	<%= form_tag url_for(:controller => "survey_responses", :action => "create"), :class=>"voc-form" do %>
	  <%= hidden_field_tag :stylesheet, params[:stylesheet] %>
    <%= hidden_field_tag "survey_id", @survey.id %>
    <%= hidden_field_tag "survey_version_id", @survey_version.id %>
		<%= hidden_field_tag "response[page_url]", params[:page_url] %>

		<%= hidden_field_tag "response[device]",  device_type %>
	  <% index = 0 %>
		<% for page in @survey_version.pages %>
			<% question_number = 0 %>
			<div class="<%= page.page_number == (params[:page].present? ? params[:page].to_i : 1) ? 'current_page' : 'hidden_page' %>" id="page_<%=page.page_number%>">
				<a name="PAGE_<%= page.page_number%>"></a>
	      <%= hidden_field_tag :next_page, page.next_page.try(:page_number), :id => "page_#{page.page_number}_next_page" %>
				<%= hidden_field_tag :prev_page, (params[:page].present? && params[:page].to_i == page.page_number ? 1 : page.prev_page.try(:page_number)), :id => "page_#{page.page_number}_prev_page" %>

				<ul class="showList">
				<% page.survey_elements.order("element_order asc").each do |element| %>
					<li class="outter">
						<% if element.assetable_type != 'Asset'
								question_number =+ question_number + 1
							end
						%>

						<% if element.assetable_type == "MatrixQuestion" %>
							<%= render partial: 'matrix_question', locals: {
									element: element,
									question_number: question_number,
									index: index,
									page: page
								}
							%>
						<% elsif element.assetable_type == "TextQuestion" %>
							<%= render partial: 'text_question', locals: {
									element: element,
									question_number: question_number,
									index: index,
									page: page
								}
							%>
						<% elsif element.assetable_type == "ChoiceQuestion" %>
							<%= render partial: 'choice_question', locals: {
									element: element,
									question_number: question_number,
									index: index,
									page: page
								}
							%>
						<% else %>
    					<%= element.assetable.snippet.html_safe%>
						<% end %>
					</li>
					<% index = index + 1%>
				<% end %>
				</ul>
				<%= render partial: 'survey_navigation', locals: {
						page: page
					}
				%>
        <script>
        <% if @survey.js_required_fields_error.blank? %>
          var survey_required_fields_error = "Please answer all required questions before moving on to the next page."
        <% else %>
          var survey_required_fields_error = "<%== @survey.js_required_fields_error %>";
        <% end %>
        </script>
			</div> <!-- close page div -->
		<% end -%>
	<% end -%>
<% end -%>

<script type='text/javascript'>
jQuery(function() {
  // create and post to a hidden iframe to avoid cross-domain POST limitations
  var uniqueString = "surveyVisitContainerIframe";

  // embed iframe name specifically since IE is buggy with .attr
  var iframe = jQuery('<iframe name="' + uniqueString + '">');
  var form = jQuery("<form>",
  	{
  		target: uniqueString,
  		action: '<%= visit_survey_url(@survey) %>',
  		method: 'POST'
  	}
  );

  // add the hidden iframe
  jQuery("body").append(iframe);
  iframe.hide();
  jQuery("body").append(form);

  form.submit();
});
</script>
