<!DOCTYPE html>
<html lang="<%= language_attribute %>" xml:lang="<%= language_attribute %>">
  <head>
    <% if @survey.survey_type_id == SurveyType::SITE %>
      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= 'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f); })(window,document,'script','dataLayer','<%= ENV['GTM_CONTAINER'] %>');</script>
      <!-- End Google Tag Manager -->
    <% end %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <% if params[:stylesheet].blank? %>
      <%= stylesheet_link_tag "application", media: "all"  %>
    <% end %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag '/scripts/gatc-survey' %>

    <%= csrf_meta_tag %>
    <%= yield(:head) %>

    <% unless params[:stylesheet].blank? %>
      <%= stylesheet_link_tag h(params[:stylesheet]) %>
    <% end %>
  </head>

  <body>
    <% if @survey.survey_type_id == SurveyType::SITE %>
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<%= ENV['GTM_CONTAINER'] %>" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
    <% end %>

    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%#= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
  </body>
</html>
