<!DOCTYPE html>
<html lang="<%= language_attribute %>" xml:lang="<%= language_attribute %>">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <% if params[:stylesheet].blank? %>
      <%= stylesheet_link_tag "application", media: "all"  %>
    <% end %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag '/scripts/gatc-survey' %>

    <%= csrf_meta_tag %>
    <%= yield(:head) %>

    <% unless params[:stylesheet].blank? %>
      <%= stylesheet_link_tag h(params[:stylesheet]) %>
    <% end %>
  </head>

  <body>
    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%#= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
  </body>
</html>
