<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <% if params[:stylesheet].blank? %>
			<%= stylesheet_link_tag "application" %>
		<% end %>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag '/scripts/gatc-survey' %>
  
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
    
		<% unless params[:stylesheet].blank? %>
			<%= stylesheet_link_tag h(params[:stylesheet]) %>
		<% end %>
  </head>
  
  <body>
    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%#= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
  </body>
</html>
