<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <% unless params[:stylesheet] %>
		<%= stylesheet_link_tag "application" %>
		<style type="text/css">
			.vocradio { display: block; margin-bottom: 5px; margin-top: 5px; }
				
		</style>
	<% end %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
	<% if params[:stylesheet] %>
		<%= stylesheet_link_tag h(params[:stylesheet]) %>
	<% end %>
  </head>
  <body>
    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%#= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
  </body>
</html>
